[submodule "yagl-behavior3"]
	path = yagl-behavior3
	url = https://github.com/yagl/behavior3.git
[submodule "yagl-ecs"]
	path = yagl-ecs
	url = https://github.com/yagl/ecs.git
[submodule "yagl-tiledmap"]
	path = yagl-tiledmap
	url = https://github.com/yagl/tiledmap.git
